<div class="container-fluid">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h1 class="text-center">All Properties
            <h2 class="intro-text text-center"><strong>to showcase your content</strong></h2>
        </h1>
        <hr>
        <div class="row">
          <% @properties.each do |property| %>
            <div class="col-md-3">
              <div class="text-center">
                <p style="background-color:#FDFDFD"><%= image_tag property.image.url %><br>
                <%= link_to property.title, property_path(property), class: "text-muted" %><br>
                <%= property.city %>, <%= property.state %> - $<%= property.price %>/Day</p>
              </div>
            </div>
          <% end %>
        </div>

        <!-- <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p> -->
      </div>
    </div>
  </div>
</div>








<!-- <div class="row text-center">
  <h1>All Properties</h1>
</div>
<div class="row">
  <% @properties.each do |property| %>
  <div class="col-md-3 text-center">
    <%= image_tag property.image.url %><br>
    <%=  property.title %>
  </div>
  <% end %>
</div> -->
