<div class="container-fluid">

  <div class="cart row">
    <div class="box">
      <div class="col-lg-12">
        <hr class="black-line">
        <h1 class="text-center">Order #<%= @order.id %></h1>
        <h2 class="intro-text text-center"><strong>Total: $<%= @order.total %> <br>
          Created At -  <%= formatted_time(@order.created_at) %> <br>
          <% if @order.status != "ordered" %>
            Updated At - <%= formatted_time(@order.updated_at) %>
          <% end %>
        </strong></h2>
        <hr class="black-line"><br>
        <div class="row">
          <% @order.orders_properties.each do |order_prop| %>
            <div class="col-md-3">
              <div class="text-center">
                <p style="background-color:#FDFDFD">
                <%= link_to order_prop.find_property.title, property_path(order_prop.find_property) %> - <%= order_prop.quantity %> Purchased<br>
                 Total $<%= order_prop.total %><br>
                 <%= @order.status.capitalize %>
               </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
