<h1>Your Cart</h1>
<div class="goodluck">
  <% @cart.return_properties.each do |property| %>
    <%= property.title %><br>
    <%=property.price %>
    <%= button_to "Remove Property", {controller: :cart_properties, action: :destroy, prop_id: property.id}, method: :delete %>
  <% end %><br>
</div>

$<%= @cart.cart_total %>

<div class="container">
  <ul>
    <li id="user_checkout_message">
      <% if current_user %> "Checkout"
    </li>
    <% else %>
      <li><%= link_to "Login or Create Account to Checkout", login_path %></li>
    <% end %>
  </ul>
</div>
